<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Caveat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

  <div class="footer-box">
    <div class="container">
      <div class="footer-wrapper">
  
        <div class="information">
            <div class="footer-side">
                <h4> <%= sandwich.category %> &#x279C; <%= sandwich.name %></h4>
                 <h6 class="Dynamic-Ingredient"></h6>
            </div>
        </div>
  
        <div class="add-cart">
  
            <span class="counter-box">
              <button class="minus-btn count-btn">-</button>
              <span class="counter">1</span>
              <button class="plus-btn count-btn">+</button>
            </span>
            
            <span class="cart_button">
              <button class="add_to_cart" role="button">Add To Cart ● <div class="Dynamic-Price"></div></button>
            </span>
  
        </div>
      </div>
    </div>
   </div>

<div class="content">


    <div class="main-header">
        <div class="container">
          <div class="text-content">
            <h1><i class="<%= sandwich.icon %>"></i> <%= sandwich.name %> </h1>
            <p><%= sandwich.description %></p>
          </div>
        </div>
      </div>
 
    
  <div class="container">
      <ul class="home_list">
        <li><a href="/"><i class="fa-solid fa-house fa-lg"></i></a></li>
        <li class="home_text">
          <i class="fa-solid fa-cart-shopping fa-lg widget"></i>
          Your Cart
          <% if (cartSize > 0) { %>
            <span class="cart-size"> <%= cartSize %> </span>
          <% } else { %>
            <span class="cart-size" style="display: none;"> </span>
          <% } %>
      </ul>
  </div>

  


  <% sandwich.customizations.forEach((customization) => { %>
    <div class="container" data-multi-card="<%= customization.multi_card %>"  data-raw-card="<%= customization.raw_card %>">
      <div class="spacing">
        <div class="food-label" data-label-id="<%= customization._id %>" data-item-id="<%= sandwich._id %>">
          <h3><%= customization.name %></h3>
        </div>
        <div class="card-wrapper">
          <% customization.options.forEach((option) => { %>
            <div class="card <%= option.default_option ? 'selected' : '' %>" data-card-id="<%= option._id %>" data-item-id="<%= sandwich._id %>">
              <div class="img-class">
                <img src="/img/<%= option.image %>" alt="Card Image">
              </div>
              <div class="card-content">
                <h2 class="card-title"><%= option.name %></h2>
                <% if (option.display_price) { %>
                  <p class="card-description" data-card-money="<%= option.price %>" > +<%= option.show_display_price %> </p>
                <% } else { %>
                  <p class="card-description" data-card-money="<%= option.price %>" > </p>
                <% } %>
              </div>
              
              <% if (option.extra_options) { %>
                <div class="buttons">
                  <button class="less-button">Less</button>
                  <button class="regular-button active">Regular</button>
                  <button class="extra-button" data-extra-price = "<%= option.extra_price %>" >Extra (+$<%= option.extra_price %>)</button>
                </div>
              <% } %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  <% }) %>

</div> <!--Content Div-->

  <!--<div class="container">
    <div class="spacing">
 
     <div class="food-label">
       <h3>Bread</h3>
     </div>
 
    <div class="card-wrapper">
    <div class="card" id="myCard">
 
     <div class="img-class">
       <img src="/img/white_shadow.png" alt="Card Image">
     </div>
   
     <div class="card-content">
       <h2 class="card-title">White Bread</h2>
       <p class="card-description">+$0.50</p>
     </div>

     <div class="buttons" style="display: none;">
      <button>Less</button>
      <button>Regular</button>
      <button >Extra (+$1.00)</button>
    </div>

    </div>
   </div>
  </div>
 </div>  -->


<script src="/js/custom.js"></script>
<script>

  document.addEventListener('DOMContentLoaded',  function() {
    // Attach a click event listener to the "Add To Cart" button
    document.querySelector('.add_to_cart').addEventListener('click', async function() {
      // Collect selected items with button state
      const selectedItems = [];
      
      // Loop through all the cards with the 'selected' class
      const selectedCards = document.querySelectorAll('.card.selected');
      selectedCards.forEach(function(card) {
        const cardId = card.getAttribute('data-card-id');
        const itemId = card.getAttribute('data-item-id');

        // Check if the "Less" and "Extra" buttons exist in the card
        const lessButton = card.querySelector('.less-button');
        const extraButton = card.querySelector('.extra-button');
        
        // Check if the buttons exist before accessing their classList
        const lessButtonActive = lessButton ? lessButton.classList.contains('active') : false;
        const extraButtonActive = extraButton ? extraButton.classList.contains('active') : false;

        // Get the counter value
        const counterValue = parseInt(document.querySelector('.counter').textContent);
        
        selectedItems.push({ cardId, itemId, counterValue, lessButtonActive, extraButtonActive,});
      });

      console.log(selectedItems);

      
      try {
        const res = await fetch('/sandwichIng_val', {
        method: 'POST',
        body: JSON.stringify({ selectedItems }),
        headers: { 'Content-Type': 'application/json' }
       });
         
       const data = await res.json();
       if(data.valid)
       {
          console.log(data)
          try {
            const response = await fetch('/addToCart', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ sandwichId: data.SanID, userId: data.UserID, quantity: data.Quantity })
            });

            const cart_data = await response.json();
            if(cart_data.validCart){
              console.log(cart_data)
              window.location.href = `/getCart/${cart_data.cartID}`;

            }


          } catch (error) {
            console.log("This Is the Error for addToCart..." + error)
          }
         

        }else{
          console.log("Data is not Valid")
       }


      } catch (error) {
         console.log("This Is the Error for sandwichIng_val..." + error)
      }
      
    });
  });
    

</script>




</body>
</html>